# Joining All Data

In [123]:
import pandas as pd

# df_drought_usa = pd.read_csv('Data/df_drought_usa.csv') https://drive.google.com/file/d/1UCqmpbTAl5IZsekGR6FsYSQ5FTWEjmfK/view?usp=sharing
# df_county_presidential_agg = pd.read_csv('Data/df_county_presidential_agg.csv') https://drive.google.com/file/d/1sKLo1bOxSaXPee_w_AJrwy0DDHYUfFXC/view?usp=sharing
# df_burned_area_index = pd.read_csv('Data/df_burned_area_index.csv', sep=';') https://drive.google.com/file/d/1Hnf4gyzSQI2fYN2EObiIWsKBM8V9H8KD/view?usp=sharing

url = 'https://drive.google.com/file/d/1UCqmpbTAl5IZsekGR6FsYSQ5FTWEjmfK/view?usp=sharing, sep = ';'' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df_drought_usa = pd.read_csv(path)

url = 'https://drive.google.com/file/d/1sKLo1bOxSaXPee_w_AJrwy0DDHYUfFXC/view?usp=sharing, sep = ';'' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df_county_presidential_agg = pd.read_csv(path)


url = 'https://drive.google.com/file/d/1Hnf4gyzSQI2fYN2EObiIWsKBM8V9H8KD/view?usp=sharing' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df_burned_area_index = pd.read_csv(path, sep = ';')

In [124]:
df_drought_usa.head(3)

   state_fips  county_fips  value        date
0           2         2013      9  2000-04-01
1           2         2013      9  2000-11-01
2           2         2013      9  2000-01-18

In [125]:
df_drought_usa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2786067 entries, 0 to 2786066
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   state_fips   int64
 1   county_fips  int64
 2   value        int64
 3   date         object
dtypes: int64(3), object(1)
memory usage: 85.0+ MB

In [126]:
df_drought_usa[df_drought_usa['value'].isna()] # no na values?

Empty DataFrame
Columns: [state_fips, county_fips, value, date]
Index: []

In [127]:
#neue Spalte 'year', in der nur das Jahr aus der Spalte 'date' steht
df_drought_usa['year'] = df_drought_usa['date'].str[:4]

In [128]:
df_drought_usa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2786067 entries, 0 to 2786066
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   state_fips   int64
 1   county_fips  int64
 2   value        int64
 3   date         object
 4   year         object
dtypes: int64(3), object(2)
memory usage: 106.3+ MB

In [129]:
drought_grouped = df_drought_usa.groupby(['year', 'county_fips']).agg({'value': 'mean'}).reset_index()

In [130]:
drought_grouped[drought_grouped['value'].isna()] # no na values?

Empty DataFrame
Columns: [year, county_fips, value]
Index: []

In [131]:
drought_grouped.head()

   year  county_fips     value
0  2000         1001  2.153846
1  2000         1003  2.326923
2  2000         1005  2.769231
3  2000         1007  2.519231
4  2000         1009  2.384615

In [132]:
drought_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53397 entries, 0 to 53396
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         53397 non-null  object
 1   county_fips  53397 non-null  int64
 2   value        53397 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.2+ MB

In [133]:
df_county_presidential_agg.head(3)

,state,county,year_short,candidate_votes,party,county_fips,year
0,ALABAMA,AUTAUGA,2000,11993,REPUBLICAN,1001,1970-01-01 00:00:00.000002000
1,ALABAMA,AUTAUGA,2004,15196,REPUBLICAN,1001,1970-01-01 00:00:00.000002004
2,ALABAMA,AUTAUGA,2008,17403,REPUBLICAN,1001,1970-01-01 00:00:00.000002008

In [134]:
df_county_presidential_agg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18919 entries, 0 to 18918
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   state            18919 non-null  object
 1   county           18919 non-null  object
 2   year_short       18919 non-null  int64
 3   candidate_votes  18919 non-null  int64
 4   party            18919 non-null  object
 5   county_fips      18919 non-null  int64
 6   year             18919 non-null  object
dtypes: int64(3), object(4)
memory usage: 1.0+ MB

In [135]:
df_county_presidential_agg.rename(columns={'year':'year_long'}, inplace=True)

In [136]:
df_county_presidential_agg.rename(columns={'year_short':'year'}, inplace=True)

In [137]:
# alles droppen, was nicht benötigt wird
elec = df_county_presidential_agg.drop(columns=['candidate_votes', 'year_long'])

In [138]:
elec.head(3)

     state   county  year       party  county_fips
0  ALABAMA  AUTAUGA  2000  REPUBLICAN         1001
1  ALABAMA  AUTAUGA  2004  REPUBLICAN         1001
2  ALABAMA  AUTAUGA  2008  REPUBLICAN         1001

In [139]:
elec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18919 entries, 0 to 18918
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   state        18919 non-null  object
 1   county       18919 non-null  object
 2   year         18919 non-null  int64
 3   party        18919 non-null  object
 4   county_fips  18919 non-null  int64
dtypes: int64(2), object(3)
memory usage: 739.1+ KB

In [140]:
elec['year']=elec.year.astype(str)

In [141]:
elec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18919 entries, 0 to 18918
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   state        18919 non-null  object
 1   county       18919 non-null  object
 2   year         18919 non-null  object
 3   party        18919 non-null  object
 4   county_fips  18919 non-null  int64
dtypes: int64(1), object(4)
memory usage: 739.1+ KB

In [142]:
# elec= elec[elec["year"].str.contains("2000|2001|2002|2003|2020")==False]

In [143]:
elec.head()

     state   county  year       party  county_fips
0  ALABAMA  AUTAUGA  2000  REPUBLICAN         1001
1  ALABAMA  AUTAUGA  2004  REPUBLICAN         1001
2  ALABAMA  AUTAUGA  2008  REPUBLICAN         1001
3  ALABAMA  AUTAUGA  2012  REPUBLICAN         1001
4  ALABAMA  AUTAUGA  2016  REPUBLICAN         1001

In [144]:
df_burned_area_index.head(5)

,State,Hectares,Year,Month,GID_0,Country,GID_1,Cropland_BA_hectares,Forest_BA_hectares,Grass_and_Shrubland_BA_hectares,...,Settlement_BA_hectares,Other_BA_hectares,combined_BA,burned_area_state_index,Burned_Cropland_index,Burned_Forest_index,Burned_Grass_and_Shrubland_index,Burned_Wetlands_index,Burned_Settlement_index,Burned_Other_index
0,Alabama,13576700,2002,1,USA,United States,USA.1_1,107,193,21,...,0,0,321,0,0,0,0,0,0,0
1,Alabama,13576700,2002,2,USA,United States,USA.1_1,43,2426,43,...,0,0,2533,0,0,0,0,0,0,0
2,Alabama,13576700,2002,3,USA,United States,USA.1_1,43,3177,0,...,0,0,3241,0,0,0,0,0,0,0
3,Alabama,13576700,2002,4,USA,United States,USA.1_1,494,0,0,...,0,0,494,0,0,0,0,0,0,0
4,Alabama,13576700,2002,5,USA,United States,USA.1_1,64,322,21,...,0,0,407,0,0,0,0,0,0,0

In [145]:
df_burned_area_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11016 entries, 0 to 11015
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   State                             11016 non-null  object
 1   Hectares                          11016 non-null  int64
 2   Year                              11016 non-null  int64
 3   Month                             11016 non-null  int64
 4   GID_0                             11016 non-null  object
 5   Country                           11016 non-null  object
 6   GID_1                             11016 non-null  object
 7   Cropland_BA_hectares              11016 non-null  int64
 8   Forest_BA_hectares                11016 non-null  int64
 9   Grass_and_Shrubland_BA_hectares   11016 non-null  int64
 10  Wetlands_BA_hectares              11016 non-null  int64
 11  Settlement_BA_hectares            11016 non-null  int64
 12  Other_BA_hectares                 11016 non-null  int64
 13  combined_BA                       11016 non-null  int64
 14  burned_area_state_index           11016 non-null  int64
 15  Burned_Cropland_index             11016 non-null  int64
 16  Burned_Forest_index               11016 non-null  int64
 17  Burned_Grass_and_Shrubland_index  11016 non-null  int64
 18  Burned_Wetlands_index             11016 non-null  int64
 19  Burned_Settlement_index           11016 non-null  int64
 20  Burned_Other_index                11016 non-null  int64
dtypes: int64(17), object(4)
memory usage: 1.8+ MB

In [146]:
df_burned_area_index.drop(columns=['Country', 'Cropland_BA_hectares','Forest_BA_hectares','Grass_and_Shrubland_BA_hectares','Wetlands_BA_hectares','Other_BA_hectares','GID_0','GID_1','Burned_Cropland_index','Burned_Forest_index','Burned_Grass_and_Shrubland_index','Burned_Wetlands_index','Burned_Settlement_index', 'Burned_Other_index'], inplace=True)

In [147]:
# groupby auf state und year, Hektar werden pro Jahr gemittelt damit unterm Strich der selbe Wert erhalten bleibt; combined_BA wird über das ganze Jahr summiert
burn = df_burned_area_index.groupby(['State', 'Year']).agg({'Hectares': 'mean', 'combined_BA': 'sum'}).reset_index()

In [148]:
# index wird errechnet als Prozent der gesamten Fläche, auf 2 Nachkommastellen gerundet, kann auch angepasst werden
burn['index'] = burn['combined_BA'] / burn['Hectares'] *100

In [149]:
burn.sort_values(by='index')

           State  Year    Hectares  combined_BA     index
114  Connecticut  2008   1435700.0            0  0.000000
120  Connecticut  2014   1435700.0            0  0.000000
121  Connecticut  2015   1435700.0            0  0.000000
122  Connecticut  2016   1435700.0            0  0.000000
123  Connecticut  2017   1435700.0            0  0.000000
..           ...   ...         ...          ...       ...
167      Florida  2007  17031200.0       411001  2.413224
226        Idaho  2012  21664300.0       575454  2.656232
302       Kansas  2016  21310000.0       584534  2.743003
67      Arkansas  2015  13773200.0       419805  3.047984
221        Idaho  2007  21664300.0       733058  3.383714

[918 rows x 5 columns]

In [150]:
# Spalten droppen, die nicht benötigt werden
burn.drop(columns=['Hectares', 'combined_BA'], inplace=True)

In [151]:
burn

       State  Year     index
0    Alabama  2002  0.079349
1    Alabama  2003  0.110668
2    Alabama  2004  0.311460
3    Alabama  2005  0.180994
4    Alabama  2006  0.207709
..       ...   ...       ...
913  Wyoming  2015  0.027955
914  Wyoming  2016  0.379261
915  Wyoming  2017  0.088203
916  Wyoming  2018  0.301810
917  Wyoming  2019  0.069990

[918 rows x 3 columns]

In [152]:
burn.rename(columns={'State':'state'}, inplace=True)

In [153]:
burn['state'] = burn['state'].str.upper()

In [154]:
burn.rename(columns={'Year':'year'}, inplace=True)

In [155]:
burn.head(3)

     state  year     index
0  ALABAMA  2002  0.079349
1  ALABAMA  2003  0.110668
2  ALABAMA  2004  0.311460

In [156]:
burn[burn['index'].isna()] # no na values?

Empty DataFrame
Columns: [state, year, index]
Index: []

In [157]:
burn['year']=burn.year.astype(str)

In [158]:
burn.head()

     state  year     index
0  ALABAMA  2002  0.079349
1  ALABAMA  2003  0.110668
2  ALABAMA  2004  0.311460
3  ALABAMA  2005  0.180994
4  ALABAMA  2006  0.207709

In [159]:
elec.head(3)

     state   county  year       party  county_fips
0  ALABAMA  AUTAUGA  2000  REPUBLICAN         1001
1  ALABAMA  AUTAUGA  2004  REPUBLICAN         1001
2  ALABAMA  AUTAUGA  2008  REPUBLICAN         1001

In [160]:
burn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   state   918 non-null    object
 1   year    918 non-null    object
 2   index   918 non-null    float64
dtypes: float64(1), object(2)
memory usage: 21.6+ KB

In [161]:
# merge aus burn und elec gibt be
be = elec.merge(burn, how='left', left_on=['state', 'year'], right_on=['state', 'year'])

In [162]:
be

         state   county  year       party  county_fips     index
0      ALABAMA  AUTAUGA  2000  REPUBLICAN         1001       NaN
1      ALABAMA  AUTAUGA  2004  REPUBLICAN         1001  0.311460
2      ALABAMA  AUTAUGA  2008  REPUBLICAN         1001  0.556814
3      ALABAMA  AUTAUGA  2012  REPUBLICAN         1001  0.105755
4      ALABAMA  AUTAUGA  2016  REPUBLICAN         1001  0.141485
...        ...      ...   ...         ...          ...       ...
18914  WYOMING   WESTON  2004  REPUBLICAN        56045  0.017360
18915  WYOMING   WESTON  2008  REPUBLICAN        56045  0.178021
18916  WYOMING   WESTON  2012  REPUBLICAN        56045  0.606596
18917  WYOMING   WESTON  2016  REPUBLICAN        56045  0.379261
18918  WYOMING   WESTON  2020  REPUBLICAN        56045       NaN

[18919 rows x 6 columns]

In [163]:
# be[be['index'].isna()]

In [164]:
df_drought_usa['year'] = df_drought_usa['year'].astype(int)

In [165]:
# merge aus be und drought gibt bed :D
bed = be.merge(drought_grouped, how='left', left_on=['county_fips', 'year'], right_on=['county_fips', 'year'])
bed

         state   county  year       party  county_fips     index     value
0      ALABAMA  AUTAUGA  2000  REPUBLICAN         1001       NaN  2.153846
1      ALABAMA  AUTAUGA  2004  REPUBLICAN         1001  0.311460  6.923077
2      ALABAMA  AUTAUGA  2008  REPUBLICAN         1001  0.556814  1.849057
3      ALABAMA  AUTAUGA  2012  REPUBLICAN         1001  0.105755  1.307692
4      ALABAMA  AUTAUGA  2016  REPUBLICAN         1001  0.141485  4.961538
...        ...      ...   ...         ...          ...       ...       ...
18914  WYOMING   WESTON  2004  REPUBLICAN        56045  0.017360  3.269231
18915  WYOMING   WESTON  2008  REPUBLICAN        56045  0.178021  5.150943
18916  WYOMING   WESTON  2012  REPUBLICAN        56045  0.606596  4.000000
18917  WYOMING   WESTON  2016  REPUBLICAN        56045  0.379261  1.403846
18918  WYOMING   WESTON  2020  REPUBLICAN        56045       NaN       NaN

[18919 rows x 7 columns]

In [166]:
bed[bed['index'].isna()] # no na values?

         state    county  year       party  county_fips  index     value
0      ALABAMA   AUTAUGA  2000  REPUBLICAN         1001    NaN  2.153846
5      ALABAMA   AUTAUGA  2020  REPUBLICAN         1001    NaN       NaN
6      ALABAMA   BALDWIN  2000  REPUBLICAN         1003    NaN  2.326923
11     ALABAMA   BALDWIN  2020  REPUBLICAN         1003    NaN       NaN
12     ALABAMA   BARBOUR  2000    DEMOCRAT         1005    NaN  2.769231
...        ...       ...   ...         ...          ...    ...       ...
18906  WYOMING     UINTA  2020  REPUBLICAN        56041    NaN       NaN
18907  WYOMING  WASHAKIE  2000  REPUBLICAN        56043    NaN  2.423077
18912  WYOMING  WASHAKIE  2020  REPUBLICAN        56043    NaN       NaN
18913  WYOMING    WESTON  2000  REPUBLICAN        56045    NaN  5.846154
18918  WYOMING    WESTON  2020  REPUBLICAN        56045    NaN       NaN

[6307 rows x 7 columns]

In [167]:
bed[bed['value'].isna()] # no na values?

         state      county  year       party  county_fips  index  value
5      ALABAMA     AUTAUGA  2020  REPUBLICAN         1001    NaN    NaN
11     ALABAMA     BALDWIN  2020  REPUBLICAN         1003    NaN    NaN
17     ALABAMA     BARBOUR  2020  REPUBLICAN         1005    NaN    NaN
23     ALABAMA        BIBB  2020  REPUBLICAN         1007    NaN    NaN
29     ALABAMA      BLOUNT  2020  REPUBLICAN         1009    NaN    NaN
...        ...         ...   ...         ...          ...    ...    ...
18894  WYOMING  SWEETWATER  2020  REPUBLICAN        56037    NaN    NaN
18900  WYOMING       TETON  2020    DEMOCRAT        56039    NaN    NaN
18906  WYOMING       UINTA  2020  REPUBLICAN        56041    NaN    NaN
18912  WYOMING    WASHAKIE  2020  REPUBLICAN        56043    NaN    NaN
18918  WYOMING      WESTON  2020  REPUBLICAN        56045    NaN    NaN

[3365 rows x 7 columns]

In [168]:
bed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18919 entries, 0 to 18918
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   state        18919 non-null  object
 1   county       18919 non-null  object
 2   year         18919 non-null  object
 3   party        18919 non-null  object
 4   county_fips  18919 non-null  int64
 5   index        12612 non-null  float64
 6   value        15554 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.2+ MB

In [169]:
bed.head()

     state   county  year       party  county_fips     index     value
0  ALABAMA  AUTAUGA  2000  REPUBLICAN         1001       NaN  2.153846
1  ALABAMA  AUTAUGA  2004  REPUBLICAN         1001  0.311460  6.923077
2  ALABAMA  AUTAUGA  2008  REPUBLICAN         1001  0.556814  1.849057
3  ALABAMA  AUTAUGA  2012  REPUBLICAN         1001  0.105755  1.307692
4  ALABAMA  AUTAUGA  2016  REPUBLICAN         1001  0.141485  4.961538

In [170]:
bed_nan = bed.groupby('year').agg({'index':'count', 'value': 'count'})

In [171]:
bed_nan

      index  value
year
2000      0   3110
2004   3153   3111
2008   3153   3111
2012   3153   3111
2016   3153   3111
2020      0      0

In [172]:
bed_final=bed.dropna()

In [173]:
bed_final_nan = bed_final.groupby('year').agg({'index':'count', 'value': 'count', 'party':'count'})

In [174]:
bed_final_nan

      index  value  party
year
2004   3111   3111   3111
2008   3111   3111   3111
2012   3111   3111   3111
2016   3111   3111   3111

In [175]:
# FERDSCH!
bed_final

         state    county  year       party  county_fips     index     value
1      ALABAMA   AUTAUGA  2004  REPUBLICAN         1001  0.311460  6.923077
2      ALABAMA   AUTAUGA  2008  REPUBLICAN         1001  0.556814  1.849057
3      ALABAMA   AUTAUGA  2012  REPUBLICAN         1001  0.105755  1.307692
4      ALABAMA   AUTAUGA  2016  REPUBLICAN         1001  0.141485  4.961538
7      ALABAMA   BALDWIN  2004  REPUBLICAN         1003  0.311460  7.307692
...        ...       ...   ...         ...          ...       ...       ...
18911  WYOMING  WASHAKIE  2016  REPUBLICAN        56043  0.379261  2.423077
18914  WYOMING    WESTON  2004  REPUBLICAN        56045  0.017360  3.269231
18915  WYOMING    WESTON  2008  REPUBLICAN        56045  0.178021  5.150943
18916  WYOMING    WESTON  2012  REPUBLICAN        56045  0.606596  4.000000
18917  WYOMING    WESTON  2016  REPUBLICAN        56045  0.379261  1.403846

[12444 rows x 7 columns]

In [176]:
# bed_final.to_csv('drought_ba_party_final_3.csv', index=False, sep=';', decimal=',')
# from google.colab import files
# files.download("drought_ba_party_final_3.csv")