# Joining All Data

In [2]:
import pandas as pd

In [3]:
df_drought_usa = pd.read_csv('Data/df_drought_usa.csv')

In [4]:
df_county_presidential_agg = pd.read_csv('Data/df_county_presidential_agg.csv')

In [5]:
df_burned_area_index = pd.read_csv('Data/df_burned_area_index.csv', sep=';')

In [6]:
df_drought_usa.head(3)

   state_fips  county_fips  value        date
0           2         2013      9  2000-04-01
1           2         2013      9  2000-11-01
2           2         2013      9  2000-01-18

In [7]:
df_county_presidential_agg.head(3)

,state,county,year_short,candidate_votes,party,county_fips,year
0,ALABAMA,AUTAUGA,2000,11993,REPUBLICAN,1001,1970-01-01 00:00:00.000002000
1,ALABAMA,AUTAUGA,2004,15196,REPUBLICAN,1001,1970-01-01 00:00:00.000002004
2,ALABAMA,AUTAUGA,2008,17403,REPUBLICAN,1001,1970-01-01 00:00:00.000002008

In [8]:
df_county_presidential_agg.rename(columns={'year':'year_long'}, inplace=True)

In [9]:
df_county_presidential_agg.rename(columns={'year_short':'year'}, inplace=True)

In [10]:
df_county_presidential_agg.head(3)

,state,county,year,candidate_votes,party,county_fips,year_long
0,ALABAMA,AUTAUGA,2000,11993,REPUBLICAN,1001,1970-01-01 00:00:00.000002000
1,ALABAMA,AUTAUGA,2004,15196,REPUBLICAN,1001,1970-01-01 00:00:00.000002004
2,ALABAMA,AUTAUGA,2008,17403,REPUBLICAN,1001,1970-01-01 00:00:00.000002008

In [11]:
df_burned_area_index.head(3)

,State,Hectares,Year,Month,GID_0,Country,GID_1,Cropland_BA_hectares,Forest_BA_hectares,Grass_and_Shrubland_BA_hectares,...,Settlement_BA_hectares,Other_BA_hectares,combined_BA,burned_area_state_index,Burned_Cropland_index,Burned_Forest_index,Burned_Grass_and_Shrubland_index,Burned_Wetlands_index,Burned_Settlement_index,Burned_Other_index
0,Alabama,13576700,2002,1,USA,United States,USA.1_1,107,193,21,...,0,0,321,0,0,0,0,0,0,0
1,Alabama,13576700,2002,2,USA,United States,USA.1_1,43,2426,43,...,0,0,2533,0,0,0,0,0,0,0
2,Alabama,13576700,2002,3,USA,United States,USA.1_1,43,3177,0,...,0,0,3241,0,0,0,0,0,0,0

In [12]:
df_burned_area_index.rename(columns={'State':'state'}, inplace=True)

In [13]:
df_burned_area_index['state'] = df_burned_area_index['state'].str.upper()

In [14]:
df_burned_area_index.rename(columns={'Year':'year'}, inplace=True)

In [15]:
df_burned_area_index.head(3)

,state,Hectares,year,Month,GID_0,Country,GID_1,Cropland_BA_hectares,Forest_BA_hectares,Grass_and_Shrubland_BA_hectares,...,Settlement_BA_hectares,Other_BA_hectares,combined_BA,burned_area_state_index,Burned_Cropland_index,Burned_Forest_index,Burned_Grass_and_Shrubland_index,Burned_Wetlands_index,Burned_Settlement_index,Burned_Other_index
0,ALABAMA,13576700,2002,1,USA,United States,USA.1_1,107,193,21,...,0,0,321,0,0,0,0,0,0,0
1,ALABAMA,13576700,2002,2,USA,United States,USA.1_1,43,2426,43,...,0,0,2533,0,0,0,0,0,0,0
2,ALABAMA,13576700,2002,3,USA,United States,USA.1_1,43,3177,0,...,0,0,3241,0,0,0,0,0,0,0

In [16]:
df_burned_area_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11016 entries, 0 to 11015
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   state                             11016 non-null  object
 1   Hectares                          11016 non-null  int64
 2   year                              11016 non-null  int64
 3   Month                             11016 non-null  int64
 4   GID_0                             11016 non-null  object
 5   Country                           11016 non-null  object
 6   GID_1                             11016 non-null  object
 7   Cropland_BA_hectares              11016 non-null  int64
 8   Forest_BA_hectares                11016 non-null  int64
 9   Grass_and_Shrubland_BA_hectares   11016 non-null  int64
 10  Wetlands_BA_hectares              11016 non-null  int64
 11  Settlement_BA_hectares            11016 non-null  int64
 12  Other_BA_hectares                 11016 non-null  int64
 13  combined_BA                       11016 non-null  int64
 14  burned_area_state_index           11016 non-null  int64
 15  Burned_Cropland_index             11016 non-null  int64
 16  Burned_Forest_index               11016 non-null  int64
 17  Burned_Grass_and_Shrubland_index  11016 non-null  int64
 18  Burned_Wetlands_index             11016 non-null  int64
 19  Burned_Settlement_index           11016 non-null  int64
 20  Burned_Other_index                11016 non-null  int64
dtypes: int64(17), object(4)
memory usage: 1.8+ MB

In [17]:
three_tables = pd.merge(pd.merge(df_burned_area_index,df_county_presidential_agg,on='state'),df_drought_usa,on='county_fips')

MemoryError: Unable to allocate 26.6 GiB for an array with shape (3576639456,) and data type int64

In [ ]:
#all_tables = df_drought_usa.merge(df_county_presidential_agg, on='county_fips', how='left')

In [ ]:
#all_tables.head(3)

In [ ]:
#all_tables['year'] = all_tables['year'].fillna(0)

In [ ]:
#all_tables['year'] = all_tables.year.astype(int)

In [ ]:
# all_tables = all_tables.merge(df_burned_area_index, on='state', how='left')    
#all_tables = all_tables.merge(df_burned_area_index, on='year', how='left')    
# all_tables = pd.merge(all_tables, df_burned_area_index, how='left', left_on=['state'], right_on = ['state'])    
#all_tables = pd.merge(all_tables, df_burned_area_index, how='left', left_on=['state', 'year'], right_on = ['state', 'year'])

In [ ]:
all_tables.head(3)