# Presidential Election Data Fine Tuning

In [117]:
import pandas as pd
import numpy as np

In [118]:
df_presedential_fine_tuning = pd.read_csv('Data/df_county_presidential.csv')

In [119]:
df_presedential_fine_tuning.head(3)

,year,state,state_po,county,county_fips,office,candidate,party,candidate_votes,total_votes,version,mode
0,1970-01-01 00:00:00.000002,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,AL GORE,DEMOCRAT,4942,17208,20220315,TOTAL
1,1970-01-01 00:00:00.000002,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,11993,17208,20220315,TOTAL
2,1970-01-01 00:00:00.000002,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,RALPH NADER,GREEN,160,17208,20220315,TOTAL

In [137]:
df_presedential_fine_tuning['year_short'] = df_presedential_fine_tuning['year'].str[-4:]

In [138]:
df_presedential_fine_tuning.head()

,year,state,state_po,county,county_fips,office,candidate,party,candidate_votes,total_votes,version,mode,year_short
0,1970-01-01 00:00:00.000002,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,AL GORE,DEMOCRAT,4942,17208,20220315,TOTAL,0002
1,1970-01-01 00:00:00.000002,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,11993,17208,20220315,TOTAL,0002
2,1970-01-01 00:00:00.000002,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,RALPH NADER,GREEN,160,17208,20220315,TOTAL,0002
3,1970-01-01 00:00:00.000002,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,OTHER,OTHER,113,17208,20220315,TOTAL,0002
4,1970-01-01 00:00:00.000002,ALABAMA,AL,BALDWIN,1003,US PRESIDENT,AL GORE,DEMOCRAT,13997,56480,20220315,TOTAL,0002

In [140]:
df_presedential_fine_tuning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72617 entries, 0 to 72616
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             72617 non-null  object
 1   state            72617 non-null  object
 2   state_po         72617 non-null  object
 3   county           72617 non-null  object
 4   county_fips      72617 non-null  int64
 5   office           72617 non-null  object
 6   candidate        72617 non-null  object
 7   party            72617 non-null  object
 8   candidate_votes  72617 non-null  int64
 9   total_votes      72617 non-null  int64
 10  version          72617 non-null  int64
 11  mode             72617 non-null  object
 12  year_short       72617 non-null  object
dtypes: int64(4), object(9)
memory usage: 7.2+ MB

In [141]:
df_presedential_fine_tuning['year_short'] = df_presedential_fine_tuning['year_short'].str.replace('0002','2000')

In [142]:
df_presedential_fine_tuning.head(3)

,year,state,state_po,county,county_fips,office,candidate,party,candidate_votes,total_votes,version,mode,year_short
0,1970-01-01 00:00:00.000002,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,AL GORE,DEMOCRAT,4942,17208,20220315,TOTAL,2000
1,1970-01-01 00:00:00.000002,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,11993,17208,20220315,TOTAL,2000
2,1970-01-01 00:00:00.000002,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,RALPH NADER,GREEN,160,17208,20220315,TOTAL,2000

In [143]:
df_presedential_fine_tuning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72617 entries, 0 to 72616
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             72617 non-null  object
 1   state            72617 non-null  object
 2   state_po         72617 non-null  object
 3   county           72617 non-null  object
 4   county_fips      72617 non-null  int64
 5   office           72617 non-null  object
 6   candidate        72617 non-null  object
 7   party            72617 non-null  object
 8   candidate_votes  72617 non-null  int64
 9   total_votes      72617 non-null  int64
 10  version          72617 non-null  int64
 11  mode             72617 non-null  object
 12  year_short       72617 non-null  object
dtypes: int64(4), object(9)
memory usage: 7.2+ MB

In [146]:
for i in range(len(df_presedential_fine_tuning)):
  if df_presedential_fine_tuning.loc[i,'year'].endswith('.000002'):
    df_presedential_fine_tuning.loc[i,'year'] = df_presedential_fine_tuning.loc[i,'year'].replace('.000002', '.000002000')

In [147]:
df_presedential_fine_tuning.head(3)

,year,state,state_po,county,county_fips,office,candidate,party,candidate_votes,total_votes,version,mode,year_short
0,1970-01-01 00:00:00.000002000,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,AL GORE,DEMOCRAT,4942,17208,20220315,TOTAL,2000
1,1970-01-01 00:00:00.000002000,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,11993,17208,20220315,TOTAL,2000
2,1970-01-01 00:00:00.000002000,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,RALPH NADER,GREEN,160,17208,20220315,TOTAL,2000

In [148]:
df_presedential_fine_tuning.groupby(['county', 'year', 'party'])['candidate_votes'].max()

county     year                           party
ABBEVILLE  1970-01-01 00:00:00.000002000  DEMOCRAT       3766
                                          GREEN            66
                                          OTHER            92
                                          REPUBLICAN     4450
           1970-01-01 00:00:00.000002004  DEMOCRAT       4389
                                                         ...
ZIEBACH    1970-01-01 00:00:00.000002016  OTHER            46
                                          REPUBLICAN      368
           1970-01-01 00:00:00.000002020  DEMOCRAT        481
                                          LIBERTARIAN      21
                                          REPUBLICAN      404
Name: candidate_votes, Length: 38059, dtype: int64

In [149]:
df_presedential_fine_tuning.head(3)

,year,state,state_po,county,county_fips,office,candidate,party,candidate_votes,total_votes,version,mode,year_short
0,1970-01-01 00:00:00.000002000,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,AL GORE,DEMOCRAT,4942,17208,20220315,TOTAL,2000
1,1970-01-01 00:00:00.000002000,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,11993,17208,20220315,TOTAL,2000
2,1970-01-01 00:00:00.000002000,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,RALPH NADER,GREEN,160,17208,20220315,TOTAL,2000

In [152]:
group = df_presedential_fine_tuning.sort_values(by='candidate_votes', ascending=False).groupby(['state','county', 'year_short']).agg({'candidate_votes':'max', 'party':'first', 'county_fips':'first', 'year' : 'first'}).reset_index()

In [153]:
group.head(3)

,state,county,year_short,candidate_votes,party,county_fips,year
0,ALABAMA,AUTAUGA,2000,11993,REPUBLICAN,1001,1970-01-01 00:00:00.000002000
1,ALABAMA,AUTAUGA,2004,15196,REPUBLICAN,1001,1970-01-01 00:00:00.000002004
2,ALABAMA,AUTAUGA,2008,17403,REPUBLICAN,1001,1970-01-01 00:00:00.000002008

In [154]:
group[group['party']=='OTHER']

,state,county,year_short,candidate_votes,party,county_fips,year
644,ALASKA,DISTRICT 99,2008,0,OTHER,2099,1970-01-01 00:00:00.000002008
645,ALASKA,DISTRICT 99,2012,0,OTHER,2099,1970-01-01 00:00:00.000002012
1956,CONNECTICUT,STATEWIDE WRITEIN,2004,0,OTHER,0,1970-01-01 00:00:00.000002004
1958,CONNECTICUT,STATEWIDE WRITEIN,2012,918,OTHER,0,1970-01-01 00:00:00.000002012
1959,CONNECTICUT,STATEWIDE WRITEIN,2016,2616,OTHER,0,1970-01-01 00:00:00.000002016
7181,MAINE,MAINE UOCAVA,2004,0,OTHER,0,1970-01-01 00:00:00.000002004
13954,RHODE ISLAND,FEDERAL PRECINCT,2004,0,OTHER,0,1970-01-01 00:00:00.000002004

In [155]:
group.county_fips = group.county_fips = group.county_fips.astype(str).str.rjust(5, '0')

In [157]:
group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18919 entries, 0 to 18918
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   state            18919 non-null  object
 1   county           18919 non-null  object
 2   year_short       18919 non-null  object
 3   candidate_votes  18919 non-null  int64
 4   party            18919 non-null  object
 5   county_fips      18919 non-null  object
 6   year             18919 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.0+ MB

In [158]:
df_presedential_fine_tuning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72617 entries, 0 to 72616
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             72617 non-null  object
 1   state            72617 non-null  object
 2   state_po         72617 non-null  object
 3   county           72617 non-null  object
 4   county_fips      72617 non-null  int64
 5   office           72617 non-null  object
 6   candidate        72617 non-null  object
 7   party            72617 non-null  object
 8   candidate_votes  72617 non-null  int64
 9   total_votes      72617 non-null  int64
 10  version          72617 non-null  int64
 11  mode             72617 non-null  object
 12  year_short       72617 non-null  object
dtypes: int64(4), object(9)
memory usage: 7.2+ MB

In [160]:
group.to_csv('Data/df_county_presidential_agg.csv', sep = ',', index =False)